.rows{
  display: flex;
  justify-content: center;
}
.btn{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin:1px 1px ;
  height: 30px;
  width: 30px;  
}
.Winner{
  text-align: center;
}
.rst{
  display: flex;
  justify-self: center;
  margin:10px;
}